{{log this}}
  <main class=" d-flex flex-row col-12">

    <section class="lists col-3 d-flex flex-column align-items-center">
      <h2 class="title">Movie Lists</h2>
      
      <button id="newList" class="btn-primary listBtn">       
          New List
      </button>

      <button class="btn-secondary listBtn">
        <a href="">
          January List
        </a>
      </button>

      <button class="btn-secondary listBtn">
        <a href="">
          February List
        </a>
      </button>

      <button class="btn-secondary listBtn">
        <a href="">
          Valentines List
        </a>
      </button>

    </section>


    <section id="movies" class=" d-flex flex-column col-12">



      <section id="form">
        {{!-- <form id="movie-search">
          <input type="text" id="movie-input" placeholder="Search for Movies...">
          <button type="submit" class="btn">Search</button>
        </form> --}}
      </section>

      {{!-- <section class="card col-6">
        <div class=" card-header">
        {{Title}}
        <img class="card-img-top" src="" alt="Movie Poster">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{rating}}</li>
          <li class="list-group-item">{{run_time}}</li>
          <li class="list-group-item">{{summary}}</li>
        </ul>
      </section> --}}

    </section>
    {{!-- <section class="card col-6">
      <p>Currently added</p>
      <div></div>
    </section> --}}


  </main>
<script src="/js/movieAPI.js"></script>